In [6]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv('EURUSD-2019.csv', names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Bob'])
df.drop('Bob', axis=1, inplace=True)

In [12]:
# df.to_csv('EURUSD-2019.csv', float_format='%g', index=False)

In [114]:
names = ['EURJPY', 'EURCHF', 'CHFJPY', 'USDCHF', 'USDCAD']
actions = ['Open', 'High', 'Low', 'Close']
for name in names:
    print(f'Import {name}')
    _df = pd.read_csv(f'{name}-2019.csv', names=['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Bob'])
    for idx, row in df.iterrows():
        __df = _df.loc[_df.Date == row.Date].loc[_df.Time == row.Time]
        try:
            for action in actions:
                df.loc[idx, f'{name}_{action}'] = list(__df[action])[0]
        except:
            print(f'Error {idx} for {name} : {row.Date} {row.Time}')
df.to_csv('Merged_2019.csv', float_format='%g', index=False)

Import EURJPY
Error 0 for EURJPY : 2019.01.01 17:02
Error 1 for EURJPY : 2019.01.01 17:03
Error 2 for EURJPY : 2019.01.01 17:04
Error 3 for EURJPY : 2019.01.01 17:05
Error 7 for EURJPY : 2019.01.01 17:09
Error 1474 for EURJPY : 2019.01.02 17:36
Error 1475 for EURJPY : 2019.01.02 17:37
Error 4318 for EURJPY : 2019.01.06 17:00
Error 4355 for EURJPY : 2019.01.06 17:37
Error 25599 for EURJPY : 2019.01.25 11:47

KeyboardInterrupt:

,Date,Time,Open,High,Low,Close,EURJPY_Open,EURJPY_High,EURJPY_Low,EURJPY_Close,...,CHFJPY_Low,CHFJPY_Close,USDCHF_Open,USDCHF_High,USDCHF_Low,USDCHF_Close,USDCAD_Open,USDCAD_High,USDCAD_Low,USDCAD_Close
0,2019.01.01,17:02,1.14598,1.14599,1.14598,1.14598,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.01.01,17:03,1.14598,1.14607,1.14598,1.14607,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.01.01,17:04,1.14607,1.14607,1.14606,1.14606,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.01.01,17:05,1.14606,1.14621,1.14606,1.14621,NaN,NaN,NaN,NaN,...,NaN,NaN,0.98120,0.98120,0.98111,0.98112,NaN,NaN,NaN,NaN
4,2019.01.01,17:06,1.14619,1.14666,1.14604,1.14665,125.692,125.692,125.692,125.692,...,111.627,111.627,0.98111,0.98113,0.98105,0.98105,1.36234,1.36348,1.36208,1.36208
5,2019.01.01,17:07,1.14665,1.14672,1.14607,1.14607,125.692,125.692,125.692,125.692,...,111.627,111.627,0.98105,0.98113,0.98102,0.98113,1.36207,1.36229,1.36207,1.36228
6,2019.01.01,17:08,1.14607,1.14607,1.14606,1.14607,125.692,125.692,125.692,125.692,...,111.627,111.627,0.98113,0.98113,0.98112,0.98112,1.36228,1.36228,1.36228,1.36228
7,2019.01.01,17:09,1.14607,1.14617,1.14606,1.14606,NaN,NaN,NaN,NaN,...,111.627,111.627,0.98061,0.98113,0.98061,0.98061,1.36228,1.36256,1.36220,1.36256
8,2019.01.01,17:10,1.14607,1.14607,1.14607,1.14607,125.692,125.692,125.692,125.692,...,111.627,111.627,0.98113,0.98113,0.98061,0.98113,1.36256,1.36265,1.36256,1.36260
9,2019.01.01,17:11,1.14607,1.14617,1.14606,1.14607,125.692,125.719,125.692,125.692,...,111.627,111.627,NaN,NaN,NaN,NaN,1.36283,1.36289,1.36259,1.36284

         Date   Time     Open     High      Low    Close  Bob
0  2019.01.01  17:06  125.692  125.692  125.692  125.692    0
1  2019.01.01  17:07  125.692  125.692  125.692  125.692    0
2  2019.01.01  17:08  125.692  125.692  125.692  125.692    0
3  2019.01.01  17:10  125.692  125.692  125.692  125.692    0
4  2019.01.01  17:11  125.692  125.719  125.692  125.692    0
5  2019.01.01  17:12  125.702  125.727  125.692  125.710    0
6  2019.01.01  17:13  125.709  125.726  125.692  125.714    0
7  2019.01.01  17:14  125.709  125.730  125.685  125.690    0
8  2019.01.01  17:15  125.686  125.731  125.684  125.705    0
9  2019.01.01  17:16  125.707  125.764  125.704  125.704    0