In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('2019-SMA_5-Control.csv')

In [8]:
df.round({'Open': 5, 'High': 5, 'Low': 5, 'Close': 5, 'SMA_5': 5, 'GrowUp': 5, 'GrowDown': 5, })

,Date,Time,Open,High,Low,Close,SMA_5,Buy,Sell,Stay,GrowUp,GrowDown,Best_Idx
0,2019.01.06,17:00,1.13955,1.13955,1.13955,1.13955,1.13955,1.0,0.0,0.0,1.14057,1.13953,59.0
1,2019.01.06,17:01,1.13956,1.13956,1.13956,1.13956,1.13953,1.0,0.0,0.0,1.14057,1.13955,58.0
2,2019.01.06,17:02,1.13956,1.13956,1.13956,1.13956,1.13955,1.0,0.0,0.0,1.14057,1.13956,57.0
3,2019.01.06,17:03,1.13966,1.13966,1.13955,1.13955,1.13956,1.0,0.0,0.0,1.14057,1.13960,56.0
4,2019.01.06,17:04,1.13956,1.13956,1.13954,1.13954,1.13960,1.0,0.0,0.0,1.14072,1.13965,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
251086,2019.09.06,16:52,1.10244,1.10250,1.10244,1.10249,1.10248,NaN,NaN,NaN,NaN,NaN,NaN
251087,2019.09.06,16:53,1.10250,1.10251,1.10244,1.10245,1.10246,NaN,NaN,NaN,NaN,NaN,NaN
251088,2019.09.06,16:54,1.10246,1.10247,1.10244,1.10246,1.10247,NaN,NaN,NaN,NaN,NaN,NaN
251089,2019.09.06,16:55,1.10247,1.10254,1.10243,1.10247,1.10249,NaN,NaN,NaN,NaN,NaN,NaN
251090,2019.09.06,16:56,1.10248,1.10251,1.10244,1.10250,1.10251,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.to_csv('2019-SMA_5-Control.csv')